:root {
  /* tamanho da fonte padrâo: 16px - 100% - 1rem */
  font-size: 60%; /* controle das medidas rem */
}

body,
input,
button {
  /*font: 500 1.6rem Poppins;*/
  font-weight: 500;
  font-family: Poppins;
  font-size: 1.6rem;
  color: var(--color-text-base);
}

body {
  font-family: Arial, sans-serif;
  margin: 0%;
  background: #f0f0f7;
}

header {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

section {
  margin: 20px 0;
  margin-inline: 8px;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin: 0px;
}

.input-block {
  margin-bottom: 8px;
}

.input-block input {
  height: 20px;
  border-radius: 0.3rem;
  background: #f8f8fc;
  border: 1px solid #e6e6f0;
}

img {
  max-width: 120px;
  max-height: 90px;
}

.select-block {
  margin-bottom: 8px;
}

.select-block select {
  height: 30px;
  border-radius: 0.3rem;
  background: #f8f8fc;
  border: 1px solid #e6e6f0;
  font-weight: 500;
  font-family: Poppins;
  font-size: 1.6rem;
  color: var(--color-text-base);
}